/* for, y'know, basically the entire web site */
body {
  overflow-y: auto;
  margin-bottom: 0%;
  /*background-image: url("./images/websitebg.png");*/
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #271b61, #3c2e84);
  padding-bottom: 100px;
}

:root {
  --blur: #5b5b5b;
}

/* for the big text, which i never use lol */
h1 {color: navy;}

/* font type and size */
body, html, div {
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

/* the "box" class is for your everyday boxes */
.box {
  color: black;
  position: relative;
  margin: auto;
  bottom: -10px;
  right: 0;
  left: 0;
  background-color: #d68a2b;
  border: 4px #b37116;
  border-style: hidden solid hidden solid;
  width: 67%;
  height: auto;
  display: block;
  text-align: center;
  word-wrap: break-word;
  text-shadow:1px 1px 1px #52350c;
  box-shadow: 5px 5px 5px #000000;
}

#flex {display: flex;}

/* the "update" class is for updates and various other links */
.update {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

.bounce {
    
}

/* these following 4 css thingys are for link colors */
a:link {color: #ffb676;}
a:visited {color: #ffb676;}
a:hover {color: #ffd0a7;}
a:active {color: #ebc5a4;}

/* the "topnav" class is for the Navbar */
.topnav {
  position: sticky;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px hidden #000000;
  list-style: none;
  list-style-type: none;
  text-shadow: 1px 1px 1px #52350c;
  width:100%;
  text-align: center;
  z-index: 1;
}

.topnav li {display: inline;}

/* the "topnav a" class is for the Navbar buttons */
.topnav a {
  color: white;
  display: inline-block;
  padding: 14px 16px;
  margin-right: 7px;
  text-decoration: none;
  font-size: 17px;
  background-color: #ffb03a;
  border-radius: 18px;
  width: 110px;
  transition: background-color .2s;
  transition: color .2s;
}
.topnav a:hover {color:black;background-color:#ffc773;}

#active {background-color:#ffcf75;}

@keyframes spread {
  from {opacity: 0;width: 60%;}
  to {opacity: 1;width: 90%;}
}
@keyframes bounce {
  from {transform: scaleY(1.15)scaleX(0.9);}
  to {transform: scaleY(1)scaleX(1);}
}
@keyframes openy {
  from {transform: scaleY(0.1);}
  to {transform: scaleY(1);}
}
@keyframes openx {
  from {transform: scaleX(0.1);}
  to {transform: scaleX(1);}
}

.openy {
  animation-name: openy;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
.openx {
  animation-name: openx;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
.bounce:active {
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.button {
  color: white;
  display: inline-block;
  padding: 14px 16px;
  margin-right: 7px;
  text-decoration: none;
  font-size: 17px;
  background-color: #c67e24;
  border-radius: 18px;
  width: 110px;
  animation-name: openx;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  transition: background-color .2s;
  transition: color .2s;
}
.button:hover {background-color:#d99744;transition:background-color .15s;}

.off {opacity: 0.5;cursor: not-allowed;}
.off:hover {background-color:#c67e24;transition:background-color .15s;}

.neatbutton {
  color: white;
  display: block;
  padding: 14px 16px;
  margin-right: 7px;
  font-size: 17px;
  background-color: #c67e24;
  border-radius: 18px;
  width: auto;
  height: auto;
  animation-name: openy;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  transition: background-color .2s;
}
.neatbutton:hover {background-color:#d99744;transition:background-color .15s;}

.yellow {background-color: #c6a124;}
.yellow:hover {background-color:#d9b744;transition:background-color .15s;}

.blue {background-color: #2489c6;}
.blue:hover {background-color:#43a4de;transition:background-color .15s;}

.linkbutton {
  color: black;
  display: block;
  width: 90%;
  background-color: #f3a039;
  border: 4px solid #ac6c1d;
  border-radius: 8px;
  font-size: 20px;
  text-decoration: none;
  margin: auto;
  transition-duration: 0.2s;
  padding: 3px;
  cursor: pointer;
  text-align:left;
  animation-name: spread;
  animation-duration: 0.45s;
  animation-iteration-count: 1;
}
.linkbutton:hover {background-color:#ffbe6d;width:91%;transition:width .15s;}

details > summary {
  color: white;
  padding: 14px 16px;
  margin-right: 7px;
  font-size: 17px;
  background-color: #c67e24;
  border-radius: 18px;
  width: auto;
  height: auto;
  animation-name: openy;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  transition: background-color .2s;
}
details > summary:hover {background-color:#d99744;transition:background-color .15s;cursor:default;}

details > p {
  color: white;
  padding: 7px 8px;
  margin-right: 7px;
  font-size: 16px;
  background-color: #b37220;
  border-radius: 18px;
  width: auto;
  height: auto;
}

.textcode {
  color:#919191;
  border-radius:5px;
  padding:0px 2px 0px 2px;
  background-color:#737373;
  text-shadow:0.3px 1px 1px #000000;
}

/* scrollbar customization!! (it doesn't work...) */

::-webkit-scrollbar-track {background:#cd862c;}

/* lastfm now playing stuffs */

#player-frame {
  width: 50%;
  height: 90px;
  background-color: #c67e24;
}

.refresh {
  position: absolute;
  bottom: 10px;
  right: 10px;
}




