/* background and its animation */
body {
  background: #c27619;
  background-image: linear-gradient(135deg,rgba(194,118,25,1) 0%, rgba(118,189,83,1) 50%, rgba(184,172,66,1) 100%);
  background-attachment: fixed;
  background-size: 400% 400%;
  margin-bottom: 0%;
  padding-bottom: 48px;
  overflow-y: auto;
  animation: gradient 15s ease infinite;
}

/* font type and size */
body, html, div {
  color: white;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 1.5px #000000;
}

/*
ORDER FOR PROPERTIES

- display
- color
- float
- opacity
- background
- border
- position
- margin
- padding
- width/height
- max width/height
- top/bottom/left/right
- text align
- text decoration
- font size
- list style
- transition(s)
- animation(s)
- text shadow
- box shadow
- word wrap
- overflow
- cursor
- z-index
*/

/* containers */
#container {
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1000px;
  max-width: 53%;
}
#blogcontainer {
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1400px;
  max-width: 64%;
}
#blogcontainer > p {
  line-height: 1.2;
  font-weight: 400;
  font-size: 17px;
}

.flex {
  /* border: 1px solid black; */
  display: flex;
  width: var(--width);
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px auto;
}

/* open text */
.opentext {
  display: block;
  color: #eeebff;
  position: relative;
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  width: 65%;
  text-align: center;
}

/* text box */
.textbox {
  display: block;
  background: #8c6235;
  border: 3px solid #704e2a;
  border-radius: 8px;
  margin: 10px auto;
  padding: 13px 5px;
  width: 65%;
  font-size: 19px;
}
.textbox h3 {
  background: #956838;
  border-radius: 6px 6px 0 0;
  margin: auto;
  margin-bottom: -10px;
  padding: 7px 0;
  width: auto;
  text-align: center;
}
.textboxflex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.textboxflex span {
  background: #956838;
  border-radius: 6px 6px 0 0;
  margin: 0 0 -10px 0 !important;
  padding: 8px 2px;
  flex: 1;
  transition: background-color 0.1s;
  cursor: default;
}
.textboxflex span:hover {background:#8c6235;cursor: pointer;}
.textboxflex span:active {background:#956838;}

/* transparent text box */
.fadebox {
  display: block;
  color: white;
  position: relative;
  background: rgba(0,0,0,0.3);
  border-radius: 8px;
  width: 57%;
  margin: 10px auto;
  padding: 13px 5px;
  font-size: 19px;
}
.fadebox hr {
  opacity: 0.5;
  border-color: #000000;
  margin: 6px auto;
  width: 50%;
}
.fadebox span ul {list-style-position:inside;margin:0;padding:0;}

/* transparent flexbox */
.flexfadebox {
  display: block;
  color: white;
  position: relative;
  background: rgba(0,0,0,0.3);
  border-radius: 8px;
  margin: 7px;
  padding: 12px 25px;
  flex: var(--flex);
  font-size: 19px;
}
/*
.fadebox,.flexfadebox {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
*/
/* marquee */
.marquee {
  display: block;
  margin: -5px auto 10px auto;
  width: 65%;
}

/* list box */
.listbox {
  background: #8c6235;
  border: 3px solid #704e2a;
  border-radius: 8px;
  width: 65%;
  margin: 10px auto;
  font-size: 19px;
  list-style-position: inside;
  overflow-y:auto;
}

/* terminal-like box */
.terminal {
  display: block;
  color: #16ff00;
  background: #080808;
  border: 4px outset #afa79c;
  border-radius: 8px;
  margin: 10px auto;
  padding: 13px 10px;
  width: 70%;
  height: 550px;
  text-align: left;
  font-size: 19px;
  list-style-position: inside;
  text-shadow: 0 0 5px #187010;
  overflow-y: auto;
}
.terminal h3 {
  margin: auto;
  padding-bottom: 10px;
  width: auto;
}
.terminal hr {border-color:#16ff00;width:100%;}
.terminal ul,.updatelog ul {padding:0 12px;}

/* board in the site map */
.mapboard {
  display: block;
  background-image: url(/images/linkimgs/mapboardbg.png);
  margin: 7px;
  padding: 5px;
  width: 40%;
  height: fit-content;
  text-align: left;
}
.mapboard h3 {
  background-color: #855c26;
  margin: auto;
  margin-bottom: 3px;
  padding: 4px 0;
  width: auto;
  text-align: center;
  transition: background-color 0.1s;
}
.mapboard:hover h3 {background-color:#a6722e;}
.mapboard ul {padding-left:28px;list-style-type:disc;}

/* extra tags n' classes */
hr {border:0;border-bottom:2px dashed #61492e;margin:auto;width:20%;}
div > hr {margin:8px auto;width:50%;}
span > hr {opacity:0.5;border-color:#000000;margin:8px auto;width:100%;}

h2 {margin-top:12px;margin-bottom:0;}
h3 {margin-top:0;margin-bottom:0;}

a {color:#ceccff;text-decoration:none;}
a:hover {color:#e0dfff;text-decoration:underline;}
a > .textbox {background:#a37645;border:3px solid rgba(0,0,0,0.1);}
a > .textbox:hover {color:#ffb263;background:rgba(0,0,0,0.5);}
.deprecated {color:#ffcccc}
.deprecated:hover {color:#ffdfdf}

.extended {width:85%;}

.extendedblog {padding:13px 18px;width:fit-content;line-height:1.8em;}
.extendedblog p:first-child {margin-top:10px;}
.extendedblog p:last-child {margin-bottom:10px;}

.list,.updatelog {padding:0;text-align:left;}
.list p {padding-left:8px;}
.list ul {padding-left:28px;list-style-position: outside;}

.updatelog main {padding:5px 10px 10px 10px;max-height:250px;font-size:16px;list-style-position:inside;overflow-y:auto;}
.updatelog hr {margin:8px auto;width:100%;}

.showoff {display:flex;padding:13px 10px;width:71%;flex-direction:column;text-align:center;}
.showoff hr {display:inline-block;margin:auto;margin-left:0;width:50%;}
.showoff ul {margin:0;padding:5px 25px;}
@media only screen and (min-width: 1300px) {
  .showoff {flex-direction:var(--dir);text-align:var(--align);}
  .squareimg {margin:0 !important;}
}

.textbox,.listbox,.terminal,.mapboard {box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25);}
.floatbox {box-shadow:6px 6px 6px 0 rgba(0,0,0,0.25);}

.off {opacity:0.5;cursor:not-allowed;}
.othersite img {width:88px;height:31px;}
.othersite:hover {filter:brightness(1.5) saturate(0.75);}

.flash {animation:flash 0.75s ease 0s 3 normal;}

.rainbow-text {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

.squareimg {
  margin: auto;
  padding: 0 8px;
  width: 240px;
  height: 240px;
  object-fit: cover;
  object-position: var(--position);
}

.art {
  display: block;
  border-radius: 12px;
  padding: 5px;
  width: 40%;
  object-fit: cover;
  filter: drop-shadow(2px 2px 5px #000000);
}

.squareimg:hover,.art:hover {cursor:zoom-in;}
.squareimg:active,.squareimg:focus,.art:active,.art:focus {
  border: 5px solid #000000;
  border-radius: 0;
  outline: 100vh solid rgba(0,0,0,0.5);
  position: fixed;
  padding: 0;
  height: 90vh;
  width: auto;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  cursor: default;
  filter: none;
}

#artList hr {margin:10px;width:70%;}

.gamelogo {
  margin-top: 17px;
  margin-bottom: 0;
  filter: drop-shadow(2px 2px 4px #000000);
}

.bounce:active {
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.todo {position:absolute;text-align:left;}

details summary {
  background-color: #8c6235;
  border-radius: 6px;
  margin: auto;
  padding: 13px 0;
  width: auto;
  text-align: center;
  transition: 0.1s;
  cursor: default;
}
details summary:hover {background-color: #956838;}
details main {
  padding-left: 8px;
  padding-bottom: 8px;
  text-align: left;
  font-size: 16px;
}
details ul {padding-left:28px;font-size:16px;}

/* link bubbles */
.bubble {
  display: block;
  color: white;
  position: relative;
  background: #cc9960;
  border-radius: 8px;
  margin: 7px;
  flex: 48%;
  height: auto;
  min-height: 95px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.1s;
  background-size: cover;
  box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25),0 0 8px rgba(255,244,232,0.5) inset;
}
a.bubble {color:white;text-decoration:none;}
.bubble p {
  margin: 0;
  padding: 2px 5px 0 0;
  height: auto;
  text-align: left;
  font-size: 18px;
  line-height: 1.1;
  text-shadow: 0 0 9px #000000;
}
.bubble img {
  float: left;
  border: 3px outset var(--bdcolor);
  border-radius: 6px 0 0 6px !important;
  margin-right: 5px;
  max-width: 90px;
  max-height: 90px;
  pointer-events: none;
}
.bubble h3 {
  background: var(--bgcolor);
  border: 0;
  border-bottom: 2px dashed var(--bdcolor);
  border-radius: 7px 7px 0 0;
  margin: 0;
  width: auto;
  font-size: 24px;
  transition: box-shadow 0.1s;
  text-shadow: 1px 1px 1.5px #000000;
}
h3 span {
  position: absolute;
  color: var(--typecolor);
  margin-top: 4px;
  margin-right: 7px;
  right: 0;
  font-size: 17px;
  font-weight: 500;
}

.whitetext p {color:white;text-shadow:0 0 9px #000000;}
.blacktext p {color:black;text-shadow:0 0 9px #ffffff;}
.blackh3 {color:black;text-shadow:1px 1px 1.5px #8f8f8f !important;}

.bubble h3:first-child {padding-left:7px;}
.bubble p:nth-child(2) {padding-left:7px;}

.bubble:hover {
  background:#d6a165;
  border-color:#b08353;
  box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25),0 0 16px rgba(255,244,232,1) inset;
  background-size: cover;
  transition: transform 0.05s ease-in, box-shadow 0.1s;
  transform: scale(1.02,1.02);
}
.bubble:hover h3 {box-shadow:0 5px 16px rgba(255,244,232,0.8) inset;}
/*.bubble:hover > img {border:3px solid var(--bdcolor);}

.indexList a:first-child {
  max-width: 100%;
  min-height: 80px;
  text-align: center;
  flex: 100%;
}
.indexList a:first-child p {text-align:center;}*/

.flexbubble {
  display: block;
  color: white;
  position: relative;
  background: none;
  border-radius: 8px;
  margin: 7px;
  padding: 10px 20px;
  width: auto;
  text-align: center;
  text-decoration: none;
  transition: 0.1s;
  box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25),0 0 8px rgba(255,255,255,0.5) inset;
  font-size: 19px;
}
.flexbubble:hover {box-shadow:5px 5px 5px 0 rgba(0,0,0,0.25),0 0 16px rgba(255,255,255,1) inset;}
a.flexbubble {color:white;text-decoration:none;text-shadow:1px 1px 1.5px #000000;}

/* .bubble,.flexbubble {backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);} */

.tooltip {
  position: absolute;
  background-color: #704e2a;
  border-radius: 8px;
  bottom: -40px;
  right: -10px;
  padding: 10px 5px;
  width: 120px;
  text-align: right;
  font-size: 15px;
  visibility: hidden;
  z-index: 5;
}

.hastooltip:hover .tooltip {visibility:visible;}
.tooltip:hover {visibility:hidden !important;}

/* background/foreground stuffs */
.bgimg {
  pointer-events: none;
  position: fixed;
  top: 100px;
  left: 100px;
  width: auto;
  height: auto;
  opacity: 0;
  z-index: -1;
  animation: fadeloop 5s ease infinite;
  animation-delay: var(--delay);
}
.bgimgmanual {
  pointer-events: none;
  position: fixed;
  top: var(--top);
  left: var(--left);
  width: auto;
  height: auto;
  opacity: 0;
  z-index: -1;
  animation: fadeloop 5s ease infinite;
  animation-delay: var(--delay);
}

.charhover {
  display: none;
  position: absolute;
  max-width: 100%;
  height: auto;
  top: var(--top);
  left: var(--left);
  z-index: 2;
  animation: hover 3s ease-in-out infinite;
  animation-delay: var(--delay);
  filter: drop-shadow(4px 4px 3px #000000);
  object-fit: contain;
}
@media only screen and (min-width: 1400px) {
  .charhover {display:grid;}
  .bubble {max-width:50%;}
}

/* header and footer */
header a {
  display: block;
  position: relative;
  margin: auto;
  width: 300px;
  height: auto;
  text-align: center;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6));
}

footer {margin-top: 32px;text-shadow: 1.25px 1.25px 2px #000000;}
footer a {color:white;}
footer sup,.textbox sup {display:flex;justify-content:center;}
footer span,.textbox span {margin:0 8px;}

/* navbar */
.navbar {
  border: 1px hidden #000000;
  position: relative;
  margin: 0;
  padding: 0 0 5px 0;
  width: 100%;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
  cursor: default;
  z-index: 1;
}
.navbar li {display: inline;}

.navbar a {
  display: inline-block;
  color: white;
  position: relative;
  background: none;
  border-radius: 8px;
  margin: 7px 3px;
  padding: 7px 20px;
  width: 78px;
  height: auto;
  text-align: center;
  text-decoration: none;
  transition: 0.1s;
  box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25),0 0 8px rgba(255,255,255,0.5) inset;
  font-size: 19px;
}
.navbar a:hover {background:var(--color);box-shadow:5px 5px 5px 0 rgba(0,0,0,0.25),0 0 16px rgba(255,255,255,1) inset;}

/* post list styles */
#postlistdiv ul {
  padding: 0;
  font-size: 19px;
  list-style-type: disc;
  list-style-position: inside;
}
#recentpostlistdiv ul {
  padding: 0;
  font-size: 19px;
  list-style-type: circle;
  list-style-position: inside;
}
#recentpostlistdiv b {
  color: #ffffff;
  font-size: 21px;
}
.moreposts {
  margin-top: 3px;
  font-size: 17px;
}

/* last.fm player */
#player-frame {
  color: #ffffff;
  width: 50%;
  height: 94px;
}

/* scrollbar customization! it works now!! */
::-webkit-scrollbar {width:initial;}
::-webkit-scrollbar-track {background:#6e4c29;}
::-webkit-scrollbar-thumb {background:#ab773f;background-clip:content-box;border-radius:10px;border:3px solid transparent;}
::-webkit-scrollbar-thumb:hover {background:#c48949;background-clip:content-box;}

.terminal::-webkit-scrollbar-track {background:#7d776f;}
.terminal::-webkit-scrollbar-thumb {background:#a39b91;background-clip:content-box;border-radius:10px;border:3px solid transparent;}
.terminal::-webkit-scrollbar-thumb:hover {background:#b5ada1;background-clip:content-box;}

/* firefox scrollbar customization */
@-moz-document url-prefix() {
  * {scrollbar-width:auto;scrollbar-color:#ab773f #6e4c29;}
  .terminal {scrollbar-width:auto;scrollbar-color:#a39b91 #7d776f;}
}

/* ANIMATIONS */
@keyframes gradient {
  0% {background-position:0% 50%;}
  50% {background-position:100% 50%;}
  100% {background-position:0% 50%;}
}

@keyframes fadeloop {
  0% {opacity:0}
  50% {opacity:0.3}
  100% {opacity:0}
}

@keyframes hover {
  0% {transform:translate(0, 0);}
  50% {transform:translate(0, 30px);}
  100% {transform:translate(0, 0);}
}

@keyframes bounce {
  from {transform:scaleY(1.1)scaleX(0.9);}
  to {transform:scaleY(1)scaleX(1);}
}

@keyframes flash {
  0% {box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25),0 0 8px rgba(255,244,232,0.5) inset;}
  50% {box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25),0 0 16px rgba(255,244,232,1) inset;}
  100% {box-shadow:4px 4px 4px 0 rgba(0,0,0,0.25),0 0 8px rgba(255,244,232,0.5) inset;}
}

@keyframes fadein {
  from {pointer-events:none;opacity:0;}
  to {pointer-events:auto;opacity:var(--opacity);}
}